openapi: 3.0.0
info:
  title: Participium API
  description: API for the citizen participation application "Participium" of the Municipality of Turin.
  version: "1.0.0"
servers:
  - url: https://api.participium.comune.torino.it/v1
    description: Production server

paths:
  /auth/register:
    post:
      summary: Register a new citizen
      description: Se non specificato, l'utente ottiene automaticamente il ruolo di cittadino (roleId = 1).
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
      responses:
        '201':
          description: User successfully registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          description: Invalid input data (e.g. incorrect email format)
        '409':
          description: Email or username already exists


  /auth/login:
    post:
      summary: Login for citizens or staff and start a session
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Login successful, returns active session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '401':
          description: Invalid credentials

  /auth/logout:
    post:
      summary: Close the authenticated user's session
      tags: [Auth]
      responses:
        '204':
          description: Logout successful

  /auth/session:
    get:
      summary: Returns the authenticated session status
      tags: [Auth]
      responses:
        '200':
          description: Current session status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'

  /users/me:
    get:
      summary: Get logged in user's profile
      tags: [Users]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
    put:
      summary: Update logged in user's profile
      tags: [Users]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileUpdate'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'

  /reports:
    post:
      summary: Citizen submits a new report
      description: Allows an authenticated citizen to file a new report with full classification details.
      tags: [Reports]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCreate'
      responses:
        '201':
          description: Report successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Validation error on payload
        '401':
          description: Authentication required
    get:
      summary: Retrieve all reports
      description: Returns the complete list of reports stored in the platform, ordered by creation date.
      tags: [Reports]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '401':
          description: Authentication required

  /reports/user/{userId}:
    get:
      summary: Retrieve reports created by a specific user
      tags: [Reports]
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: List of reports created by the selected user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '400':
          description: Invalid userId supplied
        '401':
          description: Authentication required

  /reports/{reportId}:
    get:
      summary: Retrieve a single report by id
      description: Provides the full details of a single report.
      tags: [Reports]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Invalid reportId supplied
        '401':
          description: Authentication required
        '404':
          description: Report not found
    put:
      summary: Municipal Public Relations Officer can updates core report details
      description: Allows a 'municipal public relations officer' to update details of a report (title, description, location, etc.) before accepting or rejecting it.
      tags: [Reports]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
      security:
        - BearerAuth: [] 
      x-security-role: municipality_public_relations_officer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportUpdate'
      responses:
        '200':
          description: Report successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportUpdatedResponse'
        '400':
          description: Validation error on payload or invalid reportId
        '401':
          description: Authentication required
        '403':
          description: 'Forbidden: municipality public relations officer only'
        '404':
          description: Report not found


  /upload/photo:
    post:
      summary: Upload a single photo for a report
      description: Allows an authenticated user to upload a single photo file. The photo will be stored on the server and a URL will be returned.
      tags: [Upload]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photo]
              properties:
                photo:
                  type: string
                  format: binary
                  description: Image file (JPEG, PNG, GIF, or WebP). Maximum size 5MB.
      responses:
        '200':
          description: Photo uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "File uploaded successfully."
                  url:
                    type: string
                    format: uri
                    example: "/uploads/reports/photo-1234567890-987654321.jpg"
                  filename:
                    type: string
                    example: "photo-1234567890-987654321.jpg"
        '400':
          description: Invalid file type, file too large, or no file provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Authentication required

  /upload/photos:
    post:
      summary: Upload multiple photos for a report
      description: Allows an authenticated user to upload up to 3 photo files. The photos will be stored on the server and URLs will be returned.
      tags: [Upload]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photos]
              properties:
                photos:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Image files (JPEG, PNG, GIF, or WebP). Maximum 3 files, 5MB each.
      responses:
        '200':
          description: Photos uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Files uploaded successfully."
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          format: uri
                          example: "/uploads/reports/photo-1234567890-987654321.jpg"
                        filename:
                          type: string
                          example: "photo-1234567890-987654321.jpg"
        '400':
          description: Invalid file type, file too large, too many files, or no files provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Authentication required

  /admin/users:
    get:
      summary: (Admin) Ottiene la lista di tutti gli utenti municipali e cittadini
      tags: [Admin]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Lista di tutti gli utenti nel sistema
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserProfile'
    post:
      summary: (Admin) Crea un nuovo utente municipale
      tags: [Admin]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserCreate'
      responses:
        '201':
          description: Utente staff creato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: Dati non validi (es. ruolo non trovato)
        '409':
          description: Conflitto (es. email o username duplicati)

  /admin/users/{userId}/role:
    put:
      summary: (Admin) Assign a role to a municipal user
      tags: [Admin]
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/UserRole'
      responses:
        '200':
          description: Role updated
  
  /admin/roles:
    get:
      summary: (Admin) Ottiene la lista di tutti i ruoli disponibili
      tags: [Admin]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Lista di ruoli
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleSummary'
        '403':
          description: Accesso non autorizzato

  /municipal/reports/pending:
    get:
      summary: (Municipal Public Relations Officer) Retrieve all reports in 'Pending Approval' status
      description: Returns the complete list of reports requiring approval, visible only to authorized staff.
      tags: [Municipal]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of reports in Pending Approval status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '401':
          description: Authentication required
        '403':
          description: Forbidden (Staff/Admin role required)

  /statistics/public:
    get:
      summary: Get public statistics
      tags: [Statistics]
      responses:
        '200':
          description: Public statistical data

  /statistics/private:
    get:
      summary: Get private statistics (Admin only)
      tags: [Statistics]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Private statistical data
        '403':
          description: Unauthorized access

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UserRegister:
      type: object
      required: [email, username, firstName, lastName, password]
      properties:
        email:
          type: string
          format: email
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        password:
          type: string
          format: password
        roleId:
          type: integer
          minimum: 1
          description: Identifier of the role to assign. Defaults to 1 (citizen) when omitted.
    AuthSessionResponse:
      type: object
      required: [authenticated]
      properties:
        authenticated:
          type: boolean
          description: Indicates whether the user has an active session
        user:
          $ref: '#/components/schemas/UserProfile'
        session:
          type: object
          properties:
            id:
              type: string
            cookie:
              type: object
              properties:
                expiresAt:
                  type: string
                  format: date-time
    UserLogin:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
        password:
          type: string
          format: password
    UserProfile:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        roleId:
          type: integer
          description: Identifier of the role assigned to the user
        role:
          $ref: '#/components/schemas/RoleSummary'
        photoUrl:
          type: string
          format: uri
        telegramUsername:
          type: string
        emailNotificationsEnabled:
          type: boolean
          default: true
    UserProfileUpdate:
      type: object
      properties:
        photoUrl:
          type: string
          format: uri
        telegramUsername:
          type: string
        emailNotificationsEnabled:
          type: boolean
    
    ReportStatus:
      type: string
      enum: [Pending Approval, Assigned, In Progress, Suspended, Rejected, Resolved]

    ReportCategory:
      type: string
      description: Human readable category label kept for legacy endpoints.
      enum: [Water Supply, Architectural Barriers, Sewer System, Public Lighting, Waste, Road Signs, Roads, Public Green Areas, Other]

    UserRole:
      type: string
      enum: [admin, citizen, municipal_public_relations_officer, municipal_administrator, technical_staff]
    
    AdminUserCreate:
      type: object
      required: [email, username, password, firstName, lastName, roleId]
      properties:
        email:
          type: string
          format: email
        username:
          type: string
        password:
          type: string
          format: password
        firstName:
          type: string
        lastName:
          type: string
        roleId:
          type: integer
          minimum: 1
          description: Identifier of the role to assign. Defaults to 1 (citizen) when omitted.

    ReportCreate:
      type: object
      required: [title, description, categoryId, latitude, longitude, photos]
      properties:
        title:
          type: string
        description:
          type: string
        categoryId:
          type: integer
          minimum: 1
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        anonymous:
          type: boolean
          default: false
        photos:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          maxItems: 3

    ReportUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        categoryId:
          type: integer
          minimum: 1
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
        status:
          $ref: '#/components/schemas/ReportStatus'
        anonymous:
          type: boolean
        rejection_reason:
          type: string
          nullable: true
        photos:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          maxItems: 3


    Report:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        categoryId:
          type: integer
        category:
          $ref: '#/components/schemas/ReportCategoryDetails'
        status:
          $ref: '#/components/schemas/ReportStatus'
        anonymous:
          type: boolean
        rejectionReason:
          type: string
          nullable: true
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        reporterName: 
          type: string
        photos:
          type: array
          items:
            type: string
            format: uri
        user:
          $ref: '#/components/schemas/ReportAuthor'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ReportUpdatedResponse:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        categoryId:
          type: integer
        category:
          $ref: '#/components/schemas/ReportCategoryDetails'
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        status:
          $ref: '#/components/schemas/ReportStatus'
        anonymous:
          type: boolean
        rejectionReason:
          type: string
          nullable: true
        photos:
          type: array
          items:
            type: string
            format: uri
        updatedAt:
          type: string
          format: date-time

    ReportMapItem:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        reporterName:
          type: string

    ReportReview:
      type: object
      required: [action]
      properties:
        action:
          type: string
          enum: [accepted, rejected]
        rejectionReason: # Required if action = rejected
          type: string
    RoleSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string

    ReportAuthor:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        photoURL:
          type: string
          format: uri
          nullable: true

    ReportCategoryDetails:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
