openapi: 3.0.0
info:
  title: Participium API
  description: API for the citizen participation application "Participium" of the Municipality of Turin.
  version: "1.0.0"
servers:
  - url: https://api.participium.comune.torino.it/v1
    description: Production server

paths:
  /auth/register:
    post:
      summary: Register a new citizen
      description: This api allow a user to sign up as a citizen in the system
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
      responses:
        '201':
          description: User successfully registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          description: Invalid input data (e.g. incorrect email format)
        '409':
          description: Email or username already exists

  /auth/register-request:
    post:
      summary: Request citizen registration with email verification
      description: >
        Submits a registration request that stores user data temporarily in Redis with a 6-digit confirmation code.
        The data expires after 1800 seconds (30 minutes). If the user submits the same email again before expiration,
        the previous record is replaced with the new one. If different credentials are used, a new record is created
        and old records expire naturally.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
      responses:
        '200':
          description: Registration request submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterRequestResponse'
        '400':
          description: Invalid input data (e.g. incorrect email format or missing required fields)
        '409':
          description: Email or username already exists in the system

  /auth/verify-registration:
    post:
      summary: Verify OTP and complete citizen registration
      description: >
        Verifies the 6-digit confirmation code sent during registration request. If the code matches the one stored
        in Redis for the given email, the user is created in the database and automatically logged in.
        The temporary registration data in Redis is deleted after successful verification.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRegistrationRequest'
      responses:
        '201':
          description: User successfully created and logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          description: Invalid confirmation code or missing required fields
        '404':
          description: Registration request not found or has expired
        '409':
          description: Email or username already exists in the system (race condition)

  /auth/login:
    post:
      summary: Login for citizens or staff and start a session
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Login successful, returns active session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '401':
          description: Invalid credentials

  /auth/logout:
    post:
      summary: Close the authenticated user's session
      tags: [Auth]
      responses:
        '204':
          description: Logout successful

  /auth/session:
    get:
      summary: Returns the authenticated session status
      tags: [Auth]
      responses:
        '200':
          description: Current session status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'

  /users/me:
    get:
      summary: Get logged in user's profile
      tags: [Users]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
    put:
      summary: Update logged in user's profile
      description: Citizens can upload a personal photo, add their Telegram username and switch off/on email notifications in the configuration panel.
      tags: [Users]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileUpdate'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: Invalid input data (e.g. incorrect field format)
        '401':
          description: Unauthorized - user not authenticated
        '404':
          description: User not found

  /reports:
    post:
      summary: Citizen submits a new report
      description: Allows an authenticated citizen to file a new report with full classification details.
      tags: [Reports]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCreate'
      responses:
        '201':
          description: Report successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Validation error on payload
        '401':
          description: Authentication required
    get:
      summary: Retrieve all reports
      description: Returns the complete list of reports stored in the platform, ordered by creation date.
      tags: [Reports]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '401':
          description: Authentication required

  /reports/user/{userId}:
    get:
      summary: Retrieve reports created by a specific user
      tags: [Reports]
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: List of reports created by the selected user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '400':
          description: Invalid userId supplied
        '401':
          description: Authentication required

  /reports/assigned:
    get:
      summary: (Citizen) Get all Assigned reports
      description: Allows a citizen to retrieve all reports with status 'Assigned'.
      tags: [Reports]
      security:
        - BearerAuth: []
      x-security-role: citizen
      responses:
        '200':
          description: List of reports in Assigned status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportAssignedResponse'
        '401':
          description: "User not authenticated"
        '403':
          description: "Forbidden: citizen only"

  /reports/{reportId}:
    get:
      summary: Retrieve a single report by id
      description: Provides the full details of a single report.
      tags: [Reports]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Invalid reportId supplied
        '401':
          description: Authentication required
        '404':
          description: Report not found
    

  /municipal/reports/{reportId}/category:
    put:
      summary: (Municipal Staff) Change report category
      description: Allows Public Relations Officers to change the report category if it was incorrectly classified.
      tags: [Municipal]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
      security:
        - BearerAuth: []
      x-security-role: municipal_public_relations_officer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCategoryUpdate'
      responses:
        '200':
          description: Category updated successfully, returns a boolean.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBooleanResponse'
        '400':
          description: Invalid ID format
        '401':
          description: User not authenticated
        '403':
          description: "Forbidden: municipal public relations officer only"
        '404':
          description: Report with id XX not found.


  /municipal/reports/{reportId}:
    put:
      summary: (URP) Review a report (Accept/Reject)
      description: >
        Allows the URP officer to accept a report (automatically assigning it to the technical staff via load balancing) or reject it.
      tags: [Municipal]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Unique ID of the report
      security:
        - BearerAuth: []
      x-security-role: municipality_public_relations_officer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportReview'
      responses:
        '200':
          description: Report successfully reviewed. Returns the updated object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Invalid action, invalid ID, or missing rejection reason.
        '401':
          description: User not authenticated.
        '403':
          description: Municipal public relations officer only.
        '404':
          description: Report with id XX not found.
        '409':
          description: Report is not in 'Pending Approval' status.

  /upload/photo:
    post:
      summary: Upload a single photo for a report
      description: Allows an authenticated user to upload a single photo file. The photo will be stored on the server and a URL will be returned.
      tags: [Upload]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photo]
              properties:
                photo:
                  type: string
                  format: binary
                  description: Image file (JPEG, PNG, GIF, or WebP). Maximum size 5MB.
      responses:
        '200':
          description: Photo uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "File uploaded successfully."
                  url:
                    type: string
                    format: uri
                    example: "/uploads/reports/photo-1234567890-987654321.jpg"
                  filename:
                    type: string
                    example: "photo-1234567890-987654321.jpg"
        '400':
          description: Invalid file type, file too large, or no file provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Authentication required

  /upload/photos:
    post:
      summary: Upload multiple photos for a report
      description: Allows an authenticated user to upload up to 3 photo files. The photos will be stored on the server and URLs will be returned.
      tags: [Upload]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photos]
              properties:
                photos:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Image files (JPEG, PNG, GIF, or WebP). Maximum 3 files, 5MB each.
      responses:
        '200':
          description: Photos uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Files uploaded successfully."
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          format: uri
                          example: "/uploads/reports/photo-1234567890-987654321.jpg"
                        filename:
                          type: string
                          example: "photo-1234567890-987654321.jpg"
        '400':
          description: Invalid file type, file too large, too many files, or no files provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Authentication required

  /admin/users:
    get:
      summary: (Admin) Retrieves all users in the system and their details.
      description: Retrieves a comprehensive list of users including their N:M roles, technical offices, company details, and reports.
      tags: [Admin]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of all users in the system
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserProfileRefactorized'
    post:
      summary: (Admin) Create a new municipal/staff member user
      description: This api allow an admin to register a new municipal or staff member user. It is necessary to pass a valid roleId and technicalOfficeId.
      tags: [Admin]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserCreate'
      responses:
        '201':
          description: Municipal/Staff member user created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MunicipalOrStaffUserResponse'
        '400':
          description: Dati non validi (es. ruolo non trovato)
        '409':
          description: Conflitto (es. email o username duplicati)

  /admin/users/{userId}/roles:
    put:
      summary: (Admin) Update user roles
      description: >
        Allows an admin to update the roles assigned to a user. This endpoint replaces all existing roles
        with the provided roleIds array. The relationship between User and Role is many-to-many, so a user
        can have multiple roles assigned simultaneously.
      tags: [Admin]
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Unique identifier of the user whose roles are to be updated
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleUpdate'
      responses:
        '200':
          description: User roles updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: Invalid input data (e.g., invalid roleIds format, empty array, duplicate values)
        '401':
          description: User not authenticated
        '403':
          description: Forbidden - admin only
        '404':
          description: User not found or one or more role IDs not found

  /admin/roles:
    get:
      summary: (Admin) Ottiene la lista di tutti i ruoli disponibili
      tags: [Admin]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Lista di ruoli
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleSummary'
        '403':
          description: Accesso non autorizzato

  /admin/users/{userId}:
    delete:
      summary: (Admin) Delete a municipality user
      description: >
        Allows an admin to delete a specific municipality or staff user. 
        Requires Admin privileges. Cannot delete Citizens or own account.
      tags: [Admin]
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            minimum: 1
          description: The ID of the user to delete
      security:
        - BearerAuth: []
      responses:
        '204':
          description: User deleted successfully (No Content)
        '400':
          description: Invalid User ID supplied
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "userId must be a positive integer."
        '401':
          description: User not authenticated
        '403':
          description: >
            Forbidden - Cannot delete self or Citizen accounts.
            Possible error messages:
            - "You cannot delete your own account." (when trying to delete self)
            - "Operation not allowed: You cannot delete a Citizen account." (when trying to delete a citizen)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "You cannot delete your own account."
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User with ID {userId} not found."

  /municipal/reports/pending:
    get:
      summary: (Municipal Public Relations Officer) Retrieve all reports in 'Pending Approval' status
      description: Returns the complete list of reports requiring approval, visible only to authorized staff.
      tags: [Municipal]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of reports in Pending Approval status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportPendingResponse'
        '401':
          description: Authentication required
        '403':
          description: Forbidden (Staff/Admin role required)

  /statistics/public:
    get:
      summary: Get public statistics
      tags: [Statistics]
      responses:
        '200':
          description: Public statistical data

  /statistics/private:
    get:
      summary: Get private statistics (Admin only)
      tags: [Statistics]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Private statistical data
        '403':
          description: Unauthorized access

  /offices:
    get:
      summary: (Admin) Get the list of all technical offices
      description: Returns a list of all technical offices, showing only their ID and Name.
      tags: [Technical Offices]
      security:
        - CookieAuth: []
      x-security-role: admin
      responses:
        '200':
          description: List of technical offices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TechnicalOfficeSummary'
        '401':
          description: "User not authenticated"
        '403':
          description: "Forbidden: admin only"
  
  /offices/reports/assigned:
    get:
      summary: (Technical Staff) Retrieve reports assigned to me
      description: Allows a technical staff member to view all reports assigned to them personally.
      tags: [Technical Offices]
      security:
        - BearerAuth: []
      x-security-role: technical_staff
      responses:
        '200':
          description: List of assigned reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '401':
          description: User not authenticated
        '403':
          description: Forbidden (technical staff only)

  /offices/reports/{reportId}/status:
    put:
      summary: (Technical Staff or External Maintainer) Update report status
      description: >
        Allows a technical staff member or external maintainer to update the status of a report assigned to them.
        The allowed statuses are: 'In Progress', 'Resolved', 'Suspended'.
        The user must be either the technical officer or external maintainer assigned to the report.
      tags: [Technical Offices]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Unique ID of the report to update
      security:
        - BearerAuth: []
      x-security-role: technical_staff_or_external_maintainer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportStatusUpdate'
      responses:
        '200':
          description: Report status successfully updated. Returns the updated report object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Invalid reportId or invalid status value
        '401':
          description: User not authenticated
        '403':
          description: Forbidden - user is not assigned to this report
        '404':
          description: Report not found

  /offices/reports/{reportId}/assign-external:
    put:
      summary: (Technical Staff) Assign a report to an external maintainer
      description: >
        Allows a technical staff member to assign a report to an external maintainer from a specific company.
        The system uses load balancing to automatically select the external maintainer with the fewest active reports
        within the specified company. Only reports in 'Assigned' or 'In Progress' status can be assigned to external maintainers.
      tags: [Technical Offices]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Unique ID of the report to assign
      security:
        - BearerAuth: []
      x-security-role: technical_staff
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalMaintainerAssignment'
      responses:
        '200':
          description: Report successfully assigned to external maintainer. Returns the updated report object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Invalid reportId, invalid companyId, or report is not in a valid status for external assignment
        '401':
          description: User not authenticated
        '403':
          description: Forbidden (technical staff only)
        '404':
          description: Report or company not found
        '409':
          description: No external maintainers found in the specified company

  /offices/reports/{reportId}/companies:
    get:
      summary: (Technical Staff) Get eligible companies for a report
      description: Retrieves the list of external maintainer companies capable of handling a specific report based on its category.
      tags: [Technical Offices]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Unique ID of the report.
      security:
        - BearerAuth: []
      x-security-role: technical_staff
      responses:
        '200':
          description: List of eligible companies found.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyDetails'
        '400':
          description: Invalid report ID supplied.
        '401':
          description: User not authenticated.
        '403':
          description: Forbidden (technical staff only).
        '404':
          description: Report not found.

  /external-maintainer/reports/{reportId}/status:
    put:
      summary: (External Maintainer) Update report status
      description: >
        Allows an external maintainer to update the status of a report assigned to them.
        The allowed statuses are: 'In Progress', 'Resolved', 'Suspended'.
        The external maintainer must be assigned to the report.
      tags: [External Maintainer]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Unique ID of the report to update
      security:
        - BearerAuth: []
      x-security-role: external_maintainer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportStatusUpdate'
      responses:
        '200':
          description: Report status successfully updated. Returns the updated report object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Invalid reportId or invalid status value
        '401':
          description: User not authenticated
        '403':
          description: Forbidden - user is not assigned to this report
        '404':
          description: Report not found

  /messages/reports/{reportId}:
    post:
      summary: Create a new message for a report
      description: >
        Allows a technical officer or external maintainer assigned to a report to create a new message.
        The user must be either the technicalOfficerId or externalMaintainerId of the specified report.
        The userId is automatically taken from the authenticated session.
      tags: [Messages]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Unique ID of the report.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreate'
      responses:
        '201':
          description: Message successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: Invalid reportId, missing content, or empty content
        '401':
          description: User not authenticated
        '403':
          description: Forbidden - user must be the technical officer or external maintainer assigned to this report
        '404':
          description: Report not found

    get:
      summary: Retrieve all messages for a report
      description: >
        Get the internal chat history for a specific report.
        Access is restricted:
        - Citizens cannot access this endpoint.
        - Admins can access all reports.
        - Technical Officers and External Maintainers can access only if assigned to the specific report.
      tags: [Messages]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Unique ID of the report.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of messages successfully retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
        '400':
          description: Invalid reportId supplied
        '401':
          description: User not authenticated
        '403':
          description: Forbidden - User is a citizen OR not assigned to this report
        '404':
          description: Report not found

  /notifications:
    get:
      summary: Retrieve user notifications
      description: Fetches a list of notifications for the logged-in user, ordered by date (newest first). Includes associated report details if applicable.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      responses:
        200:
          description: List of notifications retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    message:
                      type: string
                    type:
                      type: string
                      enum: [REPORT_STATUS_CHANGE, NEW_MESSAGE, ASSIGNMENT, SYSTEM]
                    isRead:
                      type: boolean
                    createdAt:
                      type: string
                      format: date-time
                    report:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                        status:
                          type: string
        401:
          description: Unauthorized - User not logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    CookieAuth:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Session authentication via cookie set by Passport Local Strategy.

  schemas:
    UserRegister:
      type: object
      required: [email, username, firstName, lastName, password]
      properties:
        email:
          type: string
          format: email
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        password:
          type: string
          format: password

    RegisterRequestResponse:
      type: object
      properties:
        message:
          type: string
          description: Success message indicating the registration request was submitted
          example: "Registration request submitted successfully. Please verify your email with the confirmation code."
        confirmationCode:
          type: string
          description: A 6-digit confirmation code for email verification
          example: "123456"
        expiresIn:
          type: integer
          description: Time in seconds until the registration request expires (default 1800 seconds)
          example: 1800

    VerifyRegistrationRequest:
      type: object
      required: [email, confirmationCode]
      properties:
        email:
          type: string
          format: email
          description: The email address used during registration request
          example: "user@example.com"
        confirmationCode:
          type: string
          description: The 6-digit confirmation code received during registration request
          example: "123456"

    AuthSessionResponse:
      type: object
      required: [authenticated]
      properties:
        authenticated:
          type: boolean
          description: Indicates whether the user has an active session
        user:
          $ref: '#/components/schemas/UserProfile'
        session:
          type: object
          properties:
            id:
              type: string
            cookie:
              type: object
              properties:
                expiresAt:
                  type: string
                  format: date-time
    UserLogin:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
        password:
          type: string
          format: password

    UserProfile:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        roleId:
          type: integer
          description: Identifier of the role assigned to the user
        role:
          $ref: '#/components/schemas/RoleSummary'
        photoUrl:
          type: string
          format: uri
        telegramUsername:
          type: string
        emailNotificationsEnabled:
          type: boolean
          default: true
    UserProfileUpdate:
      type: object
      properties:
        photoUrl:
          type: string
          format: uri
        telegramUsername:
          type: string
        emailNotificationsEnabled:
          type: boolean

    UserRoleUpdate:
      type: object
      required: [roleIds]
      properties:
        roleIds:
          type: array
          items:
            type: integer
            minimum: 1
          description: Array of role IDs to assign to the user. All existing roles will be replaced with these roles.
          minItems: 1
          example: [1, 2, 3]
    
    ReportStatus:
      type: string
      enum: [Pending Approval, Assigned, In Progress, Suspended, Rejected, Resolved]

    ReportCategory:
      type: string
      description: Human readable category label kept for legacy endpoints.
      enum: [Water Supply, Architectural Barriers, Sewer System, Public Lighting, Waste, Road Signs, Roads, Public Green Areas, Other]

    UserRole:
      type: string
      enum: [admin, citizen, municipal_public_relations_officer, municipal_administrator, technical_staff]
    
    AdminUserCreate:
      type: object
      required: [email, username, password, firstName, lastName, roleId, technicalOfficeId]
      properties:
        email:
          type: string
          format: email
        username:
          type: string
        password:
          type: string
          format: password
        firstName:
          type: string
        lastName:
          type: string
        roleId:
          type: integer
          minimum: 1
          description: Identifier of the role to assign.
        technicalOfficeId:
          type: integer
          minimum: 1
          description: Identifier of the technical office to assign.

    ReportCreate:
      type: object
      required: [title, description, categoryId, latitude, longitude, photos]
      properties:
        title:
          type: string
        description:
          type: string
        categoryId:
          type: integer
          minimum: 1
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        anonymous:
          type: boolean
          default: false
        photos:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          maxItems: 3

    ReportUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        categoryId:
          type: integer
          minimum: 1
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
        status:
          $ref: '#/components/schemas/ReportStatus'
        anonymous:
          type: boolean
        rejection_reason:
          type: string
          nullable: true
        photos:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          maxItems: 3

    UpdateBooleanResponse:
      type: object
      properties:
        success:
          type: boolean
          description: True if the resource was successfully updated, False otherwise (due to internal logic, not API error).
          example: true

    ReportCategoryUpdate:
      type: object
      required: [categoryId]
      properties:
        categoryId:
          type: integer
          description: The ID of the new category for the report.
          minimum: 1

    ReportReview:
      type: object
      required: [action]
      properties:
        action:
          type: string
          enum: [accepted, rejected]
          description: Action to perform on the report.
        rejectionReason:
          type: string
          description: Reason for rejection, required if action is 'rejected'.
          nullable: true

    Report:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        categoryId:
          type: integer
        category:
          $ref: '#/components/schemas/ReportCategoryDetails'
        status:
          $ref: '#/components/schemas/ReportStatus'
        anonymous:
          type: boolean
        rejectionReason:
          type: string
          nullable: true
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        reporterName: 
          type: string
        photos:
          type: array
          items:
            type: string
            format: uri
        user:
          $ref: '#/components/schemas/ReportAuthor'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ReportUpdatedResponse:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        categoryId:
          type: integer
        category:
          $ref: '#/components/schemas/ReportCategoryDetails'
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        status:
          $ref: '#/components/schemas/ReportStatus'
        anonymous:
          type: boolean
        reporterName: 
          type: string
        rejectionReason:
          type: string
          nullable: true
        photos:
          type: array
          items:
            type: string
            format: uri
        updatedAt:
          type: string
          format: date-time


    ReportPendingResponse:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        categoryId:
          type: integer
        category:
          $ref: '#/components/schemas/ReportCategoryDetails'
        status:
          $ref: '#/components/schemas/ReportStatus'
        anonymous:
          type: boolean
        rejectionReason:
          type: string
          nullable: true
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        reporterName: 
          type: string
        photos:
          type: array
          items:
            type: string
            format: uri
        userId:
          type: integer
        user:
          $ref: '#/components/schemas/ReportAuthor'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ReportAssignedResponse:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/ReportStatus'
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        anonymous:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        categoryId:
          type: integer
        category:
          $ref: '#/components/schemas/ReportCategoryDetails'
        photos:
          type: array
          items:
            type: string
            format: uri
        reporterName: 
          type: string
        rejectionReason:
          type: string
          nullable: true

    ReportMapItem:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        reporterName:
          type: string

    RoleSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string

    ReportAuthor:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        photoURL:
          type: string
          format: uri
          nullable: true

    ReportCategoryDetails:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    TechnicalOfficeDetails:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        categoryId:
          type: integer
        category:
          $ref: '#/components/schemas/ReportCategoryDetails'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    MunicipalOrStaffUserResponse:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        photoURL:
          type: string
          format: uri
          nullable: true
        telegramUsername:
          type: string
          nullable: true
        emailConfiguration:
          type: boolean
        counterActiveReports:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        roleId:
          type: integer
        role:
          $ref: '#/components/schemas/RoleSummary'
        technicalOfficeId:
          type: integer
          nullable: true
        technicalOffice:
          $ref: '#/components/schemas/TechnicalOfficeDetails' 
          nullable: true
        reports:
          type: array
          items:
            type: object
    TechnicalOfficeSummary:
      type: object
      description: Simplified representation of a Technical Office.
      properties:
        id:
          type: integer
          description: Unique identifier of the Technical Office.
        name:
          type: string
          description: Name of the Technical Office.

    ReportStatusUpdate:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [In Progress, Resolved, Suspended]
          description: The new status for the report. Only these three statuses are allowed.

    ExternalMaintainerAssignment:
      type: object
      required: [companyId]
      properties:
        companyId:
          type: integer
          minimum: 1
          description: The ID of the company from which to select an external maintainer. The system will automatically assign the report to the maintainer with the fewest active reports.

    CompanyDetails:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the company.
        name:
          type: string
          description: Name of the company (e.g., Enel X).
        address:
          type: string
          description: Physical address of the company.
        region:
          type: string
        country:
          type: string
      required: [id, name, address, region, country]

    MessageCreate:
      type: object
      required: [content]
      properties:
        content:
          type: string
          description: The message content/text
          minLength: 1

    Message:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the message
        content:
          type: string
          description: The message content/text
        reportId:
          type: integer
          description: ID of the report this message belongs to
        userId:
          type: integer
          description: ID of the user who created the message
        author:
          $ref: '#/components/schemas/MessageAuthor'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the message was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the message was last updated

    MessageAuthor:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        photoURL:
          type: string
          format: uri
          nullable: true
        roleId:
          type: integer
          

    
    # Main User Schema
    UserProfileRefactorized:
      type: object
      properties:
        id:
          type: integer
          example: 1
        email:
          type: string
          format: email
          example: "citizen@example.com"
        username:
          type: string
          example: "mario.rossi"
        firstName:
          type: string
          example: "Mario"
        lastName:
          type: string
          example: "Rossi"
        telegramUsername:
          type: string
          nullable: true
          example: null
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        companyId:
          type: integer
          nullable: true
        photoUrl:
          type: string
          nullable: true
        emailNotificationsEnabled:
          type: boolean
        
        # --- N:M Relationships ---
        roles:
          type: array
          description: Array of roles assigned to the user
          items:
            $ref: '#/components/schemas/RoleWithJunction'
        
        technicalOffices:
          type: array
          description: Array of technical offices the user belongs to
          items:
            $ref: '#/components/schemas/TechnicalOffice'
            
        company:
          $ref: '#/components/schemas/Company'
          nullable: true
          
        reports:
          type: array
          description: List of reports created by the user
          items:
            $ref: '#/components/schemas/ReportDetail'

    # Sub-Schema for Roles (including junction table info)
    RoleWithJunction:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: "citizen"
        UserRole:
          type: object
          description: Metadata from the many-to-many junction table
          properties:
            user_id:
              type: integer
            role_id:
              type: integer

    # Sub-Schema for Reports inside User profile
    ReportDetail:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        status:
          type: string
          example: "Pending Approval"
        rejection_reason:
          type: string
          nullable: true
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        address:
          type: string
        anonymous:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        userId:
          type: integer
        technicalOfficerId:
          type: integer
          nullable: true
        externalMaintainerId:
          type: integer
          nullable: true
        categoryId:
          type: integer
        companyId:
          type: integer
          nullable: true
        photosLinks:
          type: array
          items:
            type: string
            example: "/uploads/reports/image.jpg"

    # Generic Schema for Technical Office (inferred)
    TechnicalOffice:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        categoryId:
          type: integer
        UserTechnicalOffice:
          type: object
          properties:
            user_id:
              type: integer
            tech_office_id:
              type: integer

    # Generic Schema for Company (inferred)
    Company:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        address:
          type: string
        city:
          type: string
        region:
          type: string
        country:
          type: string
        

          

    
        