openapi: 3.0.0
info:
  title: Participium API
  description: API for the citizen participation application "Participium" of the Municipality of Turin.
  version: "1.0.0"
servers:
  - url: https://api.participium.comune.torino.it/v1
    description: Production server

paths:
  /auth/register:
    post:
      summary: Register a new citizen
      description: Se non specificato, l'utente ottiene automaticamente il ruolo di cittadino (roleId = 1).
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
      responses:
        '201':
          description: User successfully registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          description: Invalid input data (e.g. incorrect email format)
        '409':
          description: Email or username already exists


  /auth/login:
    post:
      summary: Login for citizens or staff and start a session
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Login successful, returns active session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '401':
          description: Invalid credentials

  /auth/logout:
    post:
      summary: Close the authenticated user's session
      tags: [Auth]
      responses:
        '204':
          description: Logout successful

  /auth/session:
    get:
      summary: Returns the authenticated session status
      tags: [Auth]
      responses:
        '200':
          description: Current session status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'

  /users/me:
    get:
      summary: Get logged in user's profile
      tags: [Users]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
    put:
      summary: Update logged in user's profile
      tags: [Users]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileUpdate'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'

  /reports:
    post:
      summary: Submit a new report
      tags: [Reports]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data: # Required for photo upload
            schema:
              $ref: '#/components/schemas/ReportCreate'
      responses:
        '201':
          description: Report created (status Pending Approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
    get:
      summary: Get public list of reports for the table
      tags: [Reports]
      parameters:
        - in: query
          name: category
          schema:
            $ref: '#/components/schemas/ReportCategory'
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/ReportStatus'
        - in: query
          name: startDate
          schema:
            type: string
            format: date
        - in: query
          name: endDate
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of filtered reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportSummary'

  /reports/map:
    get:
      summary: Get report data for the interactive map
      tags: [Reports]
      responses:
        '200':
          description: Geolocated data of approved reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportMapItem'

  /reports/download:
    get:
      summary: Download report data in CSV format
      tags: [Reports]
      parameters:
        - in: query
          name: category
          schema:
            $ref: '#/components/schemas/ReportCategory'
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/ReportStatus'
        - in: query
          name: startDate
          schema:
            type: string
            format: date
        - in: query
          name: endDate
          schema:
            type: string
            format: date
      responses:
        '200':
          description: CSV file with report data
          content:
            text/csv:
              schema:
                type: string

  /reports/{reportId}:
    get:
      summary: Get details of a single report
      tags: [Reports]
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '404':
          description: Report not found

  /reports/{reportId}/messages:
    post:
      summary: Send a message related to a report (Citizen)
      tags: [Reports]
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
      responses:
        '201':
          description: Message sent

  /staff/reports/assigned:
    get:
      summary: (Technical Staff) Get list of assigned reports
      tags: [Staff]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of reports for the relevant technical office
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '403':
          description: Unauthorized access

  /staff/reports/{reportId}/status:
    put:
      summary: (Technical Staff) Update report status
      tags: [Staff]
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/ReportStatus'
                comment:
                  type: string
      responses:
        '200':
          description: Status updated

  /urp/reports/review:
    get:
      summary: (URP) Get list of reports in "Pending Approval"
      tags: [URP]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of reports to review
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '403':
          description: Unauthorized access

  /urp/reports/{reportId}/review:
    put:
      summary: (URP) Approve or reject a report
      tags: [URP]
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportReview'
      responses:
        '200':
          description: Review completed
        '400':
          description: Invalid data (e.g. rejection without explanation)

  /admin/users:
    post:
      summary: (Admin) Create a new municipal user
      tags: [Admin]
      security:
        - BearerAuth: []
      # ... (requestBody with staff user data)
      responses:
        '201':
          description: Staff user created

  /admin/users/{userId}/role:
    put:
      summary: (Admin) Assign a role to a municipal user
      tags: [Admin]
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/UserRole'
      responses:
        '200':
          description: Role updated

  /statistics/public:
    get:
      summary: Get public statistics
      tags: [Statistics]
      responses:
        '200':
          description: Public statistical data

  /statistics/private:
    get:
      summary: Get private statistics (Admin only)
      tags: [Statistics]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Private statistical data
        '403':
          description: Unauthorized access

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UserRegister:
      type: object
      required: [email, username, firstName, lastName, password]
      properties:
        email:
          type: string
          format: email
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        password:
          type: string
          format: password
        roleId:
          type: integer
          minimum: 1
          description: Identifier of the role to assign. Defaults to 1 (citizen) when omitted.
    AuthSessionResponse:
      type: object
      required: [authenticated]
      properties:
        authenticated:
          type: boolean
          description: Indicates whether the user has an active session
        user:
          $ref: '#/components/schemas/UserProfile'
        session:
          type: object
          properties:
            id:
              type: string
            cookie:
              type: object
              properties:
                expiresAt:
                  type: string
                  format: date-time
    UserLogin:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
        password:
          type: string
          format: password
    UserProfile:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        roleId:
          type: integer
          description: Identifier of the role assigned to the user
        role:
          $ref: '#/components/schemas/RoleSummary'
        photoUrl:
          type: string
          format: uri
        telegramUsername:
          type: string
        emailNotificationsEnabled:
          type: boolean
          default: true
    UserProfileUpdate:
      type: object
      properties:
        photoUrl:
          type: string
          format: uri
        telegramUsername:
          type: string
        emailNotificationsEnabled:
          type: boolean
    
    ReportCategory:
      type: string
      enum: [Water Supply, Architectural Barriers, Sewer System, Public Lighting, Waste, Road Signs, Roads, Public Green Areas, Other]

    ReportStatus:
      type: string
      enum: [Pending Approval, Assigned, In Progress, Suspended, Rejected, Resolved]

    UserRole:
      type: string
      enum: [municipal public relations officer, municipal administrator, technical office staff member]

    ReportCreate:
      type: object
      required: [title, description, category, latitude, longitude, photos]
      properties:
        title:
          type: string
        description:
          type: string
        category:
          $ref: '#/components/schemas/ReportCategory'
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        anonymous:
          type: boolean
          default: false
        photos:
          type: array
          items:
            type: string
            format: binary
          minItems: 1
          maxItems: 3

    Report:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        category:
          $ref: '#/components/schemas/ReportCategory'
        status:
          $ref: '#/components/schemas/ReportStatus'
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        reporterName: # "anonymous" if flagged
          type: string
        photos:
          type: array
          items:
            type: string
            format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ReportSummary:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        category:
          $ref: '#/components/schemas/ReportCategory'
        status:
          $ref: '#/components/schemas/ReportStatus'
        reporterName:
          type: string
        createdAt:
          type: string
          format: date-time

    ReportMapItem:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        reporterName:
          type: string

    ReportReview:
      type: object
      required: [action]
      properties:
        action:
          type: string
          enum: [accepted, rejected]
        rejectionReason: # Required if action = rejected
          type: string
    RoleSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
